{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
<h1>Liste des commentaires</h1>

<table class="table table-striped">
    <thead class="table-success">
        <tr>
            <th>Titre</th>
            <th>Texte</th>
            <th>Auteur</th>
            <th>Date</th>
            <th>Adresse IP</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in pagination %}
        <tr>
            <td class="fst-italic" >{{ comment.title }}</td>
            <td>{{ comment.content}}</td>
            <td>{{ comment.author }}</td>
            <td>{{ comment.publishedAt|date('d/m/Y à H:i') }}</td>
            <td>{{ comment.ipAddress }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{# <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
    </ul>
</nav> #}
{% endblock %}
